<!doctype html>
<html lang="en">
  <head>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/foundation.min.css" rel="stylesheet"/>
    <link href="css/main-style.css" rel="stylesheet"/>
      <meta charset="UTF-8"/>
      <title>Document</title>
    </head>
    <body class= "row">
      <header class= "large-8 columns">
          <h1 >
              ${enlive}
          </h1>
          <h2 id="subtitle">
              ${enfocus}
          </h2>
      </header>
      <footer>
	${copyright}
      </footer>
    </body>
</html>
